.inputnum {
  width: 30px;
  border:none;
}
/*改出序号用，需要大些*/
.inputid {
  width: 70px;
  border:none;
}

#ordid ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#ordid li{
    line-height:30px;
    font-size:14px;
    color: #333;
    padding:5px 10px;
}
#ordid li.current{
    background:#CCCCCC;
    color:#0000FF;
    cursor: pointer;
}
#ordid li:hover{
    background:#CCCCCC;
    color:#0000FF;
    cursor: pointer;
}